body {
    overflow-x: hidden;
}

.config_box {
    position: absolute;
    top: 0;
    right: 0;
}

.dropdown:focus-within .dropdown-menu {
    opacity:1;
    transform: translate(0) scale(1);
    visibility: visible;
}